In [1]:
import numpy as np 
import pandas as pd

In [9]:
data = pd.read_csv("./datasets/studentscores.csv")
data.head(data.shape[0])

    Hours  Scores
0     2.5      21
1     5.1      47
2     3.2      27
3     8.5      75
4     3.5      30
5     1.5      20
6     9.2      88
7     5.5      60
8     8.3      81
9     2.7      25
10    7.7      85
11    5.9      62
12    4.5      41
13    3.3      42
14    1.1      17
15    8.9      95
16    2.5      30
17    1.9      24
18    6.1      67
19    7.4      69
20    2.7      30
21    4.8      54
22    3.8      35
23    6.9      76
24    7.8      86

In [7]:
X = data.loc[:, "Hours"].values
y = data.loc[:, "Scores"].values